<div class="container-fluid page">
    <app-page-headline [pageTitle]="pageTitle" [visibility]="false"></app-page-headline>
    <div class="page_content shadow p-3 position-relative">
      <div class="page_content-data">
  
        <form class="form" novalidate (ngSubmit)="save()" [formGroup]="partnerForm"> 
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Partner name</mat-label>
                <input matInput 
                id="nameId"
                type="text"
                formControlName="name"
                [ngClass]="{'is-invalid': (partnerForm.get('name').touched ||
                                                    partnerForm.get('name').dirty) &&
                                                    !partnerForm.get('name').valid }" />
                <mat-error *ngIf="partnerForm.get('name').errors?.['required']">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
        
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput 
                id="addressId"
                type="text"
                formControlName="address"></textarea>
              </mat-form-field>
        
        
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>JIB</mat-label>
                <input matInput
                id = "idNumberId"
                type="number"
                formControlName="idNumber">
            </mat-form-field>
        
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>PIB</mat-label>
                <input matInput
                id = "pdvNumberId"
                type="number"
                formControlName="pdvNumber">
            </mat-form-field>
        
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput
                id = "descriptionId"
                type="text"
                formControlName="description">
            </mat-form-field>
        
            <button  mat-raised-button color="primary" type="submit"
            [title]="partnerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
            [disabled]="!partnerForm.valid">Save</button>
            <button  mat-raised-button color="warn" class="mx-2" (click)="(onSaveComplete())">Cancel</button>
        </form>
        
  
      </div>
    </div>
  </div>

